@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.mainLinks {
  opacity: 0.7;
  transition: all 0.5s;
}
.mainLinks.active {
  opacity: 1;
  transition: all 0.2s;
}

/* input,textarea{
  outline: none !important;

}
input:hover,textarea:hover{
  outline: none !important;
} */
@layer components {
  .active {
    opacity: 1;
    @apply border-[2px] dark:border-blueDark font-semibold opacity-[1];
  }
  .activeLight {
    opacity: 1;
    @apply bg-bgMainButonNotActiveLightMode  border-[5px] border-blueDark font-semibold;
  }
  .hoverTransition {
    transition: 0.5s;
    @apply duration-500;
  }

  .inputColor {
    @apply dark:bg-bginputDark
     bg-transparent
      dark:hover:border-[1px]
       outline-none border-[0.5px]
        dark:border-secondaryBorder
         dark:focus:border-blueDarkNormal
          dark:hover:border-blueDarkNormal 
          hover:border-[#999]
           focus:border-[#999] 
           transition-all
            duration-150;
  }
  article:hover {
    transform: scale(1.01) rotate(1deg) !important;
  }
}
